<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <div class="card-block">
    <h5 class="card-title">Resend confirmation instructions</h5>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', autofocus: true %>
    </div>
    <div class="row">
      <div class="col-sm-5 push-sm-7 text-sm-right">
        <%= f.submit "Resend instructions", :class => 'btn btn-primary' %>
      </div>
      <div class="col-sm-7 pull-sm-5 small">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<% end %>
