<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <div class="card-block">
    <h5 class="card-title">Change your password</h5>

    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, "New password" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>
  <div class="card-block row">
    <div class="col-sm-5 push-sm-7 text-sm-right">
      <%= f.submit "Change my password", :class => 'btn btn-primary' %>
    </div>
    <div class="col-sm-7 pull-sm-5 small">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
