<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: '') do |f| %>
  <div class="card-block">
    <h5 class="card-title">Login</h5>

    <div class="form-group">
      <%= f.label :email %>
      <div>
        <%= f.email_field :email, class: 'form-control', autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <%- if devise_mapping.recoverable? %>
        <%= link_to "Forgot?", new_password_path(resource_name), class: 'pull-xs-right small' %>
      <% end -%>
      <%= f.label :password %>
      <div>
        <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
      </div>
    </div>

  </div>
  <div class="card-block">
    <%= f.submit "Login", :class => 'btn btn-primary' %>
    &nbsp;
    <% if devise_mapping.rememberable? -%>
      <span class="small checkbox">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </span>
    <% end %>
  </div>
<% end %>
