<!DOCTYPE html>
<html ng-app="jquest">
<head>
  <title ng-bind=" ($title || 'Welcome') + ' - jQuest' ">
    <% if content_for?(:page_title) %>
      <%= yield(:page_title) %>
    <% else %>
      jQuest
    <% end %>
  </title>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" id="viewport" content="width=device-width, height=device-height, minimal-ui">
  <meta name="theme-color" content="#fffbf5">

  <% if content_for?(:stylesheet_includes) %>
    <%= yield :stylesheet_includes %>
  <% end %>

  <%= csrf_meta_tags %>

  <script type="text/javascript">
    var href = document.location.protocol + "//" + document.location.host + document.location.pathname;
    document.write("<base href='" + href + "' />");
  </script>

  <%= favicon_link_tag 'favicon.ico' %>

  <meta name="fragment" content="!">
  <meta name="description" content="">

  <link rel="apple-touch-icon" href="<%= image_url('apple-touch-icon.png') %>" />

  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:url" content="http://www.jquestapp.com/">
  <meta property="og:image" content="<%= image_url('banner-photo-1020x630.png') %>">
  <meta property="og:image" content="<%= image_url('banner-flat-1020x630.png') %>">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:creator" content="@jquestapp">
  <meta name="twitter:image" content="<%= image_url('banner-photo-1020x630.png') %>" />
  <meta name="twitter:image" content="<%= image_url('banner-flat-1020x630.png') %>" />
  <meta name="twitter:url" content="http://www.jquestapp.com/" />

  <meta itemprop="name" content="">
  <meta itemprop="description" content="">
  <meta itemprop="image" content="<%= image_url('banner-photo-1020x630.png') %>">
</head>
<body class="<%= yield (:body_class) %> body" ng-class="{
  'body--has-overlay': menu.isVisible() || courseMaterials.isVisible(),
  'body--has-course-material': courseMaterials.isVisible()
  }">
  <% if content_for?(:content) %>
    <%= yield(:content) %>
  <% else %>
    <%= yield %>
  <% end %>

  <div growl></div>
  <div class="flash container">
    <% flash.each do |name, msg| -%>
      <div class="alert flash__item" data-type="<%= name %>"><%= msg %></div>
    <% end -%>
  </div>

  <% if content_for?(:javascript_includes) %>
    <%= yield :javascript_includes %>
  <% end %>

  <script>
    (function(p,i,r,h,o,O){p.GoogleAnalyticsObject=h;p[h]||(p[h]=
    function(){(p[h].q=p[h].q||[]).push(arguments)});p[h].h=+new Date;
    o=i.createElement(r);O=i.getElementsByTagName(r)[0];
    o.src='//www.google-analytics.com/analytics.js';
    O.parentNode.insertBefore(o,O)}(window,document,'script','ga'));
    ga('create', 'UA-35984661-8', 'auto')
    <% unless current_user.nil? %>
      ga('set', 'userId', <%= current_user.id %>);
    <% end %>
  </script>
</body>
</html>
