<!DOCTYPE html>
<html ng-app="jquest">
<head>
  <title>
    <% if content_for?(:page_title) %>
      <%= yield(:page_title) %>
    <% else %>
      jQuest
    <% end %>
  </title>
  <meta charset="utf-8">

  <% if content_for?(:stylesheet_includes) %>
    <%= yield :stylesheet_includes %>
  <% end %>

  <%= csrf_meta_tags %>

  <script type="text/javascript">
    var href = document.location.protocol + "//" + document.location.host + document.location.pathname;
    document.write("<base href='" + href + "' />");
  </script>
</head>
<body class="<%= yield (:body_class) %> body" ng-class="{ 'body--has-menu-overlay': menu.isVisible() }">
  <%= yield %>
  <% if content_for?(:javascript_includes) %>
    <%= yield :javascript_includes %>
  <% end %>

  <div growl></div>
  <div class="flash container">
    <% flash.each do |name, msg| -%>
      <div class="alert flash__item" data-type="<%= name %>"><%= msg %></div>
    <% end -%>
  </div>
</body>
</html>
