<!DOCTYPE html>
<html ng-app="jquest">
<head>
  <title>
    <% if content_for?(:page_title) %>
      <%= yield(:page_title) %>
    <% else %>
      jQuest
    <% end %>
  </title>
  <meta charset="utf-8">

  <% if content_for?(:stylesheet_includes) %>
    <%= yield :stylesheet_includes %>
  <% else %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  <% end %>

  <%= csrf_meta_tags %>

  <script type="text/javascript">
    var href = document.location.protocol + "//" + document.location.host + document.location.pathname;
    document.write("<base href='" + href + "' />");
  </script>
</head>
<body class="<%= yield (:body_class) %>">
  <div ui-view>
    <%= yield %>
  </div>
  <% if content_for?(:javascript_includes) %>
    <%= yield :javascript_includes %>
  <% else %>
    <%= javascript_include_tag 'application' %>
  <% end %>
</body>
</html>
